<h1><%= @user.username %>'s Home Page</h1>

<% @threads.each do |thread| %>
  <div>
    <h5>Conversation with:
      <% thread.users.each do |user| %>
        <% if user != current_user %>
          <%= user.username %>
        <% end %>
      <% end %>
    </h5>

    <% thread.messages.each do |message| %>
      <p><%= message.content %></p>
    <% end %>
  </div>
<% end %>