
<h1><%= @user.username %></h1>

<%= link_to "Private Message" %>
<!-- <p> -->
  <!-- <strong>User:</strong> -->
  <%#= @request.user %>
<!-- </p> -->

<!-- <p> -->
  <!-- <strong>Goal:</strong> -->
  <%#= @request.goal %>
<!-- </p> -->

<!-- <p> -->
  <!-- <strong>Status:</strong> -->
  <%#= @request.status %>
<!-- </p> -->

<%#= link_to 'Edit', edit_request_path(@request) %>
<%#= link_to 'Back', requests_path %>