
<h1><%= @user.username %></h1>

<%= link_to "Send Message", new_message_path(:receiver_id => @user.id) %>
<%#= form_for(@message) do |f| %>
    <%#= hidden_field_tag("message[user_id]", @user.id) %>
    <%#= f.submit "Send Message" %>
<%# end %>
<!-- <p> -->
  <!-- <strong>User:</strong> -->
  <%#= @request.user %>
<!-- </p> -->

<!-- <p> -->
  <!-- <strong>Goal:</strong> -->
  <%#= @request.goal %>
<!-- </p> -->

<!-- <p> -->
  <!-- <strong>Status:</strong> -->
  <%#= @request.status %>
<!-- </p> -->

<%#= link_to 'Edit', edit_request_path(@request) %>
<%#= link_to 'Back', requests_path %>